{% extends "base.html" %}

{% block title %}Opowieści Lulu - Zmiana hasła{% endblock %}

{% block content %}
{% load static %}
{% load widget_tweaks %}

    <div class="story-header">
        <h3>Zmiana hasła</h3>
    </div>
    <p class="subsite-description">Wypełnij poniższy formularz, aby zmienić hasło.</p>


    <div class="lulu-form">
        <form method="post">
            {% csrf_token %}
            {% for field in form %}
                <p class="lulu-form">{{ field.label_tag }}</p>
                <p>{% render_field field class+="name-nick-title" %}</p>

                {% if field.help_text %}
                <ul>
                    <li class="lulu-help-text">{{ field.help_text }}</li>
                </ul>
                {% endif %}

                {% for error in field.errors %}
                    <p class="form-error">{{ error }}</p>
                {% endfor %}

            {% endfor %}
            <button class="button" type="submit">Zmień</button>
         </form>
    </div>

{% endblock %}