{% extends "base.html" %}

{% block title %}Opowieści Lulu - Zerowanie hasła{% endblock %}

{% block content %}
{% load static %}
{% load widget_tweaks %}

    <div class="story-header">
        <h3>Zerowanie hasła</h3>
    </div>
    <p class="subsite-description">Dwukrotnie podaj nowe hasło:</p>

    {% if validlink %}
        <div class="lulu-form">
            <form method="post">
                {% csrf_token %}
                {% for field in form %}
                    <p class="lulu-form">{{ field.label_tag }}</p>
                    <p>{% render_field field class+="name-nick-title" %}</p>

                    {% if field.help_text %}
                    <ul>
                        <li class="lulu-help-text">{{ field.help_text }}</li>
                    </ul>
                    {% endif %}

                    {% for error in field.errors %}
                        <p class="form-error">{{ error }}</p>
                    {% endfor %}

                {% endfor %}
                <button class="button" type="submit">Zmień hasło</button>
             </form>
        </div>
    {% else %}
        <p class="subsite-description">Łącze pozwalające na wyzerowanie hasła jest nieprawidłowe, ponieważ
                                        prawdopodobnie zostało już wcześniej użyte.<br>
                                        Musisz ponownie rozpocząć procedurę zerowania hasła.</p>
    {% endif %}

{% endblock %}