{% extends "base.html" %}

{% block title %}Opowieści Lulu - Zerowanie hasła{% endblock %}

{% block content %}
{% load static %}

    <div class="story-header">
        <h3>Zerowanie hasła</h3>
    </div>
    <p class="subsite-description">Wysłaliśmy Ci wiadomość e-mail wraz z instrukcjami pozwalającymi na
                                    zdefiniowanie nowego hasła.<br>
                                    Jeżeli nie otrzymałeś/-aś tej wiadomości, to upewnij się, że w formularzu zerowania
                                    hasła wpisałeś/-aś adres e-mail podany podczas zakładania konta użytkownika.</p>

{% endblock %}