{% extends "base.html" %}

{% block title %}Opowieści Lulu - napisz o swoim psie{% endblock %}

{% block content %}
{% load static %}

    {% if pet_form.errors %}
        <p class="form-error">Formularz zawiera błędy! Lulu prosi o korektę!</p>
    {% endif %}


    <div class="story-header">
        <h3>Napisz o swoim psie</h3>
    </div>
    <br>


    <div class="pic-caption">
        <figure>
            <img class="small-lulu-pics" src="{% static 'lulu_searching.jpg' %}" alt="Lulu story accepted" width="320" height="220">
            <figcaption><b>Gdzie są moje ziomki?!</b></figcaption>
        </figure>
    </div>
    <div class="subsite-description">
        <b>Jeśli nie chcesz pisać o Lulu <a href="{% url 'create_lulu_story' %}">TUTAJ</a>,
            możesz poniżej napisać o swoim własnym zwierzaku.<br>Uwaga! Akceptujemy opowieści nie tylko o psach!<br>
            Zaprezentuj swojego kota, papugę, żółwia czy patyczaka!<br>Lulu jest otwarta na wszelkie interakcje międzygatunkowe!
            Jeśli story się jej spodoba, dodamy ją na stronie "Opowieści Lulu - Spis anegdot".<br>Pamiętaj! Motto Lulu brzmi:
            Żyj kolorowo!
            </b>
        <p>Miłej zabawy !!!</p>
    </div>


    <form enctype="multipart/form-data" method="post">
        <div class="lulu-form">
            {% csrf_token %}
            {% if pet_form.errors %}
                {% for field in pet_form %}
                    {% for error in field.errors %}
                        <div class="form-error">
                            <strong>{{ error|escape }}</strong>
                        </div>
                   {% endfor %}
                {% endfor %}
                {% for error in pet_form.non_field_errors %}
                    <div class="form-error">
                        <strong>{{ error|escape }}</strong>
                    </div>
                {% endfor %}
            {% endif %}<br>
            <label>Autor:</label>
            <p>{{ pet_form.author }}</p><br>
            <label>Tytuł:</label>
            <p>{{ pet_form.title }}</p><br>
            <label>Imię zwierzaka:</label>
            <p>{{ pet_form.pet_name }}</p><br>
            <p><label>Wybierz gatunek zwierzaka:</label></p>
                {% for radio in pet_form.pet_species %}
                    <div>
                        {{ radio }}
                    </div>
                {% endfor %}
            <label>Jaki ?:</label>{{ pet_form.pet_species_other }}<br><br><br>
            <label>Twoja opowieść:</label>
            <p>{{ pet_form.content }}</p><br>
            <label>Zdjęcie zwierzaka <small>(opcjonalnie)</small>:</label>
            <p>{{ pet_form.lulu_pic }}</p><br>
            <label>Podpis pod zdjęciem <small>(opcjonalnie)</small>:</label>
            <p>{{ pet_form.pic_caption }}</p><br>
            <label>Twój e-mail:</label>
            <p>{{ pet_form.e_mail }}</p><br>
            <input class="button" type="submit" value="Wyślij">
        </div>
    </form>
    {% if messages %}
        {% for message in messages %}
            <p class="form-error">{{ message }}</p>
        {% endfor %}
    {% endif %}
    <br><br><br>

{% endblock %}